
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Contact us | Realto</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="Realto" name="description" />
        <meta content="favethemes" name="author" />
         
        <!-- CSS Styles  -->
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/bootstrap-responsive.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/colors.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
         
        <!-- Favicon and touch icons  -->
        <link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
        <link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
        <link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
        <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed" />
        <link href="ico/favicon.png" rel="shortcut icon" />
         
        <!-- Javascript  -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.placeholder.js"></script>
         
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
      	<script src="js/html5shiv.js"></script>
    	<![endif]-->
        <script src="js/custom.js"></script>
         
        <!-- Theme panel  -->
        <script src="theme-panel/theme-panel.js"></script>
        <link href="theme-panel/theme-panel.css" rel="stylesheet" />
        <script type="text/javascript">
            $.fn.placeholder();
        </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40296911-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
    <body>
         
        <!-- theme panel -->
        <div id="themes_panel">
            <div id="themes_menu">
                <div class="segment">
                    <h6>Theme Colour</h6>
                    <ul class="theme buttons">
                        <li><a href="#" title="green"><img alt="" src="theme-panel/buttons/theme_green.jpg" /></a></li>
                        <li><a href="#" title="grey"><img alt="" src="theme-panel/buttons/theme_purple.jpg" /></a></li>
                        <li><a href="#" title="pink"><img alt="" src="theme-panel/buttons/theme_pink.jpg" /></a></li>
                        <li><a href="#" title="blue"><img alt="" src="theme-panel/buttons/theme_blue.jpg" /></a></li>
                        <li><a href="#" title="orange"><img alt="" src="theme-panel/buttons/theme_orange.jpg" /></a></li>
                        <li><a href="#" title="red"><img alt="" src="theme-panel/buttons/theme_red.jpg" /></a></li>
                    </ul>
                </div>
                <div class="segment noborder">
                    <a class="reset_btn" href="#">Reset</a>
                </div>
            </div>
            <div id="toggle_button">
                <a href="#"></a>
            </div>
        </div>
         
      
        <div class="container page-content">
            <div class="row">
                <div class="span8">
                    <div class="box-container">
                        <div class="padding30">
                            <h2 class="page-title">Contact us</h2>
                            <ul class="unstyled">
                                <li>
                                    <i class="icon-envelope-alt"></i>
                                    Email: farisparkar@gmail.com</li>
                                <li>
                                    <i class="icon-phone"></i>
                                    Phone: +1 778 882 0785</li>
                                <li>
                                    <i class="icon-linkedin"></i>
                                    linkedin.com/feedme</li>
                                <li>
                                    <i class="icon-twitter"></i>
                                    twitter.com/feedme</li>
                            </ul>
                            <div class="row-fluid">
                                <form action="#" class="margin300" method="post" />
                                    <input class="span6" placeholder="Please, insert your name" type="text" />
                                    <input class="span6 pull-right" placeholder="Please, insert your email" type="text" />
                                    <textarea class="span12" placeholder="Write your message" rows="6"></textarea>
                                    <div class="clearfix">
                                        <button class="btn btn-realto span6" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .span8 -->
                <div class="span4 widget">
                    <div class="widget map box-container padding30">
                        <h3 class="widget-title">Get Directions</h3>
                        <iframe src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=miami+beach+collins+ave+1220&amp;aq=&amp;sll=25.861386,-80.120888&amp;sspn=0.205136,0.347786&amp;ie=UTF8&amp;hq=&amp;hnear=1220+Collins+Ave,+Miami+Beach,+Miami-Dade,+Florida+33139,+Stati+Uniti&amp;t=m&amp;z=14&amp;ll=25.783255,-80.131265&amp;output=embed"></iframe>
                        <dl class="margin0">
                            <dt>FeedMe</dt>
                            <dd class="margin0">Richmond, BC</dd>
                            <dd class="margin0">Canada</dd>
                        </dl>
                    </div>
                </div>
                <!-- .span4 -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
         
      
    </body>
</html>