    
       <center><div id="home-search-container">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="widget pull-right">
                            <div class="row">
                            	<div class="span12 head-container">
                            		<div class="row">
		                                <div class="span8 hidden-phone">
		                                    <h2 class="head-title">Welcome to FeedMe</h2>
		                                    <p class="head-message"><strong>FeedMe is a quick and easy app to find some local foods to satisfy your hunger.</strong><br />
		                                   You can sign in or register to begin your journey to find delicious meals and leave your reviews in the process.</p>
		                                    <a class="btn btn-large btn-realto span3 header-cta" href="#" title="Find Me Food">Find Me Food!</a>
		                                </div></center>
		            
     
                <!-- .span8  -->
                
                <!-- .span4  -->
            </div>
        </div>
         
        <!-- begin footer -->
        
