
<center><div id="home-search-container">
<div class="container">

    <section id="content-section"> 
            <h2 class="head-title">Welcome to FeedMe</h2>
            <center><p class="head-message"><strong>FeedMe is a quick and easy app to find some local foods to satisfy your hunger.</strong></p></center>
           <center><p class="head-message"><strong>You can sign in or register to begin your journey to find delicious meals and leave your reviews.</strong></p></center>
             

    </section>
    <div class="wrapper">
                 <button class="button; btn btn-primary btn-lgbtn3d" style="width:200px;height:50px;"><strong>Find Me Food!</strong></button>
            </div>

<!-- .span8  -->

<!-- .span4  -->
</div>
</div>

<!-- begin footer -->

